<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min (3).css">
    <title>Tech Blog</title>
</head>
    <nav class="navbar navbar-dark bg-dark d-flex">
        <div class="row w-100 justify-content-start">
            <a class="display-5 mx-4 text-white">Home</h1>
            <a class="display-5 mx-4 text-white">Dashboard</h1>
            <a class="display-5 mx-4 text-white">Logout</h1>
        </div>
    </nav>
<body>
    {{{ body }}} 
</body>
<script src="script.js"></script>
</html>