<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min (3).css">
    <title>Tech Blog</title>
</head>
    <nav class="navbar navbar-dark bg-dark d-flex">
        <div class="row w-100 justify-content-start">
            <a href="#" class="display-5 mx-4 text-white">Home</a>
            <a href="#" class="display-5 mx-4 text-white">Dashboard</a>
            {{#if logged_in}}
            <a href="#" class="button display-5 mx-4 text-white" id="logout">Logout</a>
            {{/if}}
        </div>
    </nav>
    <header class="jumbotron bg-dark d-flex">
        <div class="bg-success rounded">
        <h2 class="display-5 my-3 text-white mx-3">The Tech Blog</h2>
        </div>
    </header>
<body>
    <main class="container w-100 container-fluid border">
    {{{ body }}} 
    </main>
</body>
{{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
{{/if}}
</html>